.header__item + .header__item{
margin-left: 33px;
}
.header__link{
    font-family: 'Barlow';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 15px;
/* identical to box height, or 125% */

letter-spacing: 0.923077px;
text-transform: uppercase;

color: #83888F;
}
.header__btn{
    border: none;
    background-color: #fff;
}
.header__btn{
    display: none;
    @media screen and (max-width:613px) {
        display: inline-block;
    }
}
.header__list{
    @media screen and (max-width:613px) {
        display: none;
    }
}